* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header h1 {
        text-align: center;
        flex-grow: 1;
    }

.logo-left img {
    height: 100px;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.logo-right img {
    height: 60px;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    border-bottom: 2px solid #f4f4f4;
}

.tab-button {
    padding: 12px 25px;
    cursor: pointer;
    background-color: #f4f4f4;
    color: black;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s, border-bottom 0.3s, color 0.3s;
}

    .tab-button:hover {
        background-color: #e0e0e0;
    }

    .tab-button.active {
        background-color: #f4f4f4;
        color: red;
        border-bottom: 3px solid red;
    }

    .tab-button:not(.active):hover {
        color: red;
    }

.tab-content {
    display: none;
}

    .tab-content.active {
        display: block;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #2b2b2b;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

td.team-name {
    text-align: left;
}

.team-logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}
